header,h1  {
text-align:center;
color:rgb(221, 55, 33);
}
body{
    font-family: sans-serif;
    background-color: rgb(8, 6, 122);
}

p {
    font-size: 30px;
    color: rgba(45, 31, 252, 0.849);
}

header {
    background-color: rgb(151, 214, 48);
}

header img {
    height: 200px;
    width: 200px;
}

main {
    padding:20px;
    background-color: rgb(147, 204, 56);
    border-radius: 30px;
    margin: 20px;
}

main img {
    height: 200px;
    width: 300px;
}

footer {
    padding: 30px;
}
